@import url(header.css);
@import url(footer.css);

.setting-setting-toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.setting-setting-toggle a:visited {
    color: white;
}

.setting-toggle__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-block: 20px;
}

.setting-toggle__item {
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.user-btn:hover,
.product-btn:hover,
.home-btn:hover,
.log-out-btn:hover i{
    color: rgb(104, 224, 93);
}

.log-out-btn:hover {
    background-color: black;
}

.setting-section {
    min-height: 600px;
}


@media (width <= 590px) {
    .setting-toggle__item {
        font-size: 15px;
    }

    .setting-toggle__list {
        padding-block: 15px;
    }
}