@import url(header.css);
@import url(footer.css);

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.setting-section {
    position: relative;
}

.setting-setting-toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    top: 0;
}

.setting-setting-toggle a,
.setting-setting-toggle a:visited {
    color: white;
}

.setting-toggle__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-block: 20px;
}

.setting-toggle__item {
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.user-btn:hover,
.product-btn:hover,
.home-btn:hover,
.log-out-btn:hover i {
    color: rgb(104, 224, 93);
}

.log-out-btn:hover {
    background-color: black;
}

.setting-section {
    min-height: 500px;
}


@media (width <=590px) {
    .setting-toggle__item {
        font-size: 15px;
    }

    .setting-toggle__list {
        padding-block: 15px;
    }
}

.setting-wrapper {
    width: 100%;
    position: relative;
}

/* Account */

.type {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-top: 2em;
    margin-left: 10%;
}

.type span {
    padding: 0 10px;
    background-color: rgb(221, 219, 219);
}

.setting-section__accounts-wrapper {
    margin-block: 5em;
    margin-inline: 3em;
}

.setting-section__account-wrapper {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin-block: 1em;
    padding-block: 10px;
    padding-inline: 20px;
    border: 1px solid gray;
}

.setting-section__delete-btn-wrapper {
    background-color: black;
    color: white;
    font-size: .8em;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px;
}

.setting-section__delete-btn-wrapper:active {
    background-color: rgb(104, 224, 93);
}

@media (width > 620px) {
    .setting-section__accounts-wrapper {
        margin-inline: 10em;
    }
}

@media (width > 1080px) {
    .setting-section__accounts-wrapper {
        margin-inline: 20em;
    }
}

/* Products */
.setting-section__add-btn-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(92, 92, 92);
    width: fit-content;
    font-size: 1.2em;
    padding-block: .7em;
    padding-inline: 1.2em;
    border-radius: 10px;
    float: right;
    margin-right: 8em;
    cursor: pointer;
}

.setting-section__add-btn-wrapper:active {
    border: 1px solid transparent;
    background-color: rgb(104, 224, 93);
    color: white;
}

.setting-section__products-wrapper {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 3em;
}

.setting-section__product-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid gray;
}

.setting-section__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-section__img-wrapper {
    max-width: 10em;
    max-height: 10em;
    padding-right: 2em;
}

.setting-section__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.setting-section__meta-wrapper {
    font-size: 1.2em;
}

.setting-section__meta-price {
    padding-top: 1.5em;
}

.setting-section__btn-wrapper {
    text-transform: uppercase;
    font-size: 1.25em;
}

.setting-section__delete-btn,
.setting-section__update-btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.setting-section__delete-btn:active,
.setting-section__update-btn:active {
    background-color: rgb(104, 224, 93);
    transition-duration: 10ms;
}

.setting-section__delete-btn {
    padding: .6em;
    margin-right: .5em;
}

.setting-section__update-btn {
    padding: .6em;
    margin-left: .5em;
}

@media (width <=1180px) {
    .setting-section__meta-wrapper {
        max-width: 15em;
    }
}

@media (width <=910px) {
    .setting-section__add-btn-wrapper {
        top: 2.5%;
    }

    .setting-section__img-wrapper {
        max-width: 20em;
        max-height: 20em;
        padding: 0;
    }

    .setting-section__product-wrapper {
        flex-direction: column;
    }

    .setting-section__info-wrapper {
        flex-direction: column;
        padding-bottom: 1.5em;
    }

    .setting-section__meta-wrapper {
        text-align: center;
    }

    .setting-section__product-wrapper {
        padding-block: 2em;
    }
}

/* Products Manage */

.setting-section__manage-wrapper[aria-hidden="true"] {
    display: none;
}

.setting-section__manage-wrapper[aria-hidden="true"]+.setting-section__bg-blur {
    display: none;
}

.setting-section__manage-wrapper[aria-hidden="false"] {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    height: 80%;
    width: 80%;
    background-color: white;
    z-index: 100;
    overflow-y: scroll;
    position: fixed;
    top: 10%;
    left: 10%;
}

.setting-section__manage-wrapper[aria-hidden="false"]+.setting-section__bg-blur {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0.4;
}

.setting-section__manage-close {
    position: fixed;
    width: 80%;
    background-color: hsl(0, 0%, 34%);
    display: flex;
    justify-content: flex-end;
    padding-block: 10px;
    padding-right: 15px;
}

.fa-xmark {
    color: hsl(0, 0%, 100%);
}

.manage-product {
    width: 86%;
    margin-inline: 6%;
    font-size: 1.3em;
    line-height: 2em;
}

.manage-product-inp {
    padding-block: 1em;
}

.name-inp-wrapper {
    margin-top: 40px;
}

#name-inp,
#desc-inp,
#fPrice-inp,
#price-inp {
    width: 100%;
    padding: 8px;
    color: black;
}

.img-inp-wrapper {
    width: fit-content;
    height: fit-content;
}

#img-inp {
    width: 100%;
}


#img-lb {
    max-width: 400px;
    max-height: 400px;
    display: block;
    cursor: pointer;
    border: 1px solid gray;
}

#img-lb svg {
    padding-inline: 10%;
    padding-block: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-lb img {
    padding: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit-btn-wrapper {
    margin: 0 auto;
    width: 60%;
    margin-block: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.submit-btn-wrapper:hover,
.submit-btn-wrapper:active {
    background-color: rgb(104, 224, 93);
}